<div id="<%= bookmarkable.class.to_s.downcase %>-<%= bookmarkable.id %>-bookmark">
  <% if user_signed_in? %>
      <% if current_user.liked? bookmarkable, vote_scope: 'bookmark' %>
        <%= form_tag unbookmark_path(bookmarkable_type: bookmarkable.class.to_s, bookmarkable_id: bookmarkable.id), method: :post, remote: true do %>
          <% button_tag class: 'btn btn-block' do %>
            <%= fa_icon 'bookmark' %>
          <% end %>
        <% end %>
      <% else %>
        <%= form_tag bookmark_path(bookmarkable_type: bookmarkable.class.to_s, bookmarkable_id: bookmarkable.id), remote: true do %>
          <% button_tag class: 'btn btn-block' do %>
            <%= fa_icon 'bookmark-o' %>
          <% end %>
        <% end %>
      <% end %>
  <% else %>
    <%= form_tag unbookmark_path(bookmarkable_type: bookmarkable.class.to_s, bookmarkable_id: bookmarkable.id), method: :post, remote: true do %>
          <% button_tag class: 'btn btn-block' do %>
            <%= fa_icon 'bookmark-o' %>
          <% end %>
        <% end %>
  <% end %>
</div>