<div class="row">
  <% if @bookmarks.empty? %>
    <div class="col-md-10 col-md-offset-1">
      <p>You haven’t bookmarked any stories yet.</p>
      <p>Save stories to read later by using the <%= fa_icon 'bookmark' %>  bookmark button.</p>
    </div>
  <% else %>
    <div id="bookmarks" class="col-md-8 col-md-offset-2">
      <%= render(@bookmarks) %>
    </div>
  <% end %>
</div>