<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>
    <div class="field">
      <%= f.text_field :name, placeholder: "Name" %>
    </div>
  </h3>

  <div class="field">
    <%= f.text_field :description, placeholder: "Description" %>
  </div>

  <div class="form-group">
    <%= render 'shared/avatar', resource: @blog %>
    <%= f.file_field :avatar %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn" %>
  </div>
<% end %>
