<div id="blog-<%= blog.id %>" class="blog-info">
  <div class="info">
      <%= render 'shared/avatar', resource: blog %>
      <div class="pull-right"><%= render 'follows/form', followable: blog %></div>
      <h4><%= link_to blog.name, blog %></h4>
  </div>
  <div class="content">
    <p><%= truncate(blog.description, length: 200) %></p>
  </div>
</div>
