<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div id="blog-<%= @blog.id %>" class="blog-show post-box">

      <% if belongs_to_user? @blog %>
        <div class="actions pull-right">
                  <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= fa_icon 'angle-down' %>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to 'New Post', new_blog_post_path(@blog) %></li>
              <li><%= link_to 'Edit', edit_blog_path(@blog) %></li>
            </ul>
          </div>
        </div>
      <% end %>

      <%= render 'shared/avatar', resource: @blog %>

      <h2>
        <%= @blog.name %>
      </h2>

      <h4>
        <%= @blog.description %>
      </h4>

      <%= render 'follows/form', followable: @blog %>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
      <div id="posts">
        <%= render(@posts) %>
      </div>
      <%= render 'shared/paginate', resources: @posts %>
  </div>
</div>