<div id="comment-<%= comment.id %>" class="post-box comment">
  <div class="info">
    <%= render 'shared/avatar', resource: comment.user %>
      <% if belongs_to_user? comment %>
          <span class="pull-right"><%= link_to "delete", comment, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      <% end %>
      <h4>
        <%= link_to comment.user.name, comment.user %>
      </h4>
      <p><%= render 'shared/created_at', activity: comment %></p>
  </div>

  <div class="content">
    <p><%= comment.comment %></p>
  </div>

  <div class="actions">
    <%= render 'shared/actions', resource: comment %>
  </div>
</div>