<% if user_signed_in? %>
  <div class="comment-form post-box">
    <%= form_tag comments_path(commentable_type: commentable.class.to_s, commentable_id: commentable.id), method: :post, remote: true do %>
      <%= text_area_tag :comment_text, nil, placeholder: 'Write your response', class: 'form-control' %>
      <br>
      <%= submit_tag :publish, class: 'btn' %>
    <% end %>
  </div>
<% end %>