<% if type == 'post' %>
  <%= render(result) %>
<% elsif type == 'blog' %>
<div class="post-box">
  <%= render 'blogs/info', blog: result %>
</div>
<% elsif type == 'user' %>
<div class="post-box">
  <%= render 'users/info', user: result %>
</div>
<% end %>