<div class="row">
  <div class="search-results">
    <div class="col-md-1 col-md-offset-1">
      <div class="btn-group-vertical affix">
        <%= link_to 'Posts', search_path(query: @query, type: 'post'), class: "btn btn-default #{'active' if @type == 'post' }" %>
        <%= link_to 'Blogs', search_path(query: @query, type: 'blog'), class: "btn btn-default #{'active' if @type == 'blog' }" %>
        <%= link_to 'Users', search_path(query: @query, type: 'user'), class: "btn btn-default #{'active' if @type == 'user' }" %>
      </div>
    </div>

    <div class="col-md-8">
      <div class="row">
        <% unless @results.empty? %>
          <div id="results">
            <%= render partial: "search/result", collection: @results, locals: { type: @type } %>
          </div>
          <%= render 'shared/paginate', resources: @results %>
        <% else %>
          <h3>Nothing found.</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>