<div id="blog-<%= blog.id %>">
  <hr>
  <%= render 'shared/avatar', resource: blog %>
  <%= link_to blog.name, blog %>
  <p><%= blog.description %></p>
  <%= render 'follows/form', followable: blog %>
</div>