<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="post-box me-blogs">

      <div class="pull-right">
        <%= link_to '+ NEW BLOG', new_blog_path %>
      </div>

      <h2>Blogs</h2>
      <hr>

      <% unless @user_blogs.empty? %>
        <h4>Contributing to</h4>
        <%= render(partial: 'blogs/info', collection: @user_blogs, as: :blog) %>
      <% end %>

      <% unless @following_blogs.empty? %>
        <h4>Following</h4>
        <%= render(partial: 'blogs/info', collection: @following_blogs, as: :blog) %>
      <% end %>

      <% unless @suggested_blogs.empty? %>
        <h4>Suggested Blogs</h4>
        <%= render(partial: 'blogs/info', collection: @suggested_blogs, as: :blog) %>
      <% end %>
    </div>
  </div>
</div>