<div id="<%= likeable.class.to_s.downcase %>-<%= likeable.id %>-like">
  <% if user_signed_in? %>
    <% if current_user.liked? likeable, vote_scope: 'like' %>
      <%= form_tag unlike_path(likeable_type: likeable.class.to_s, likeable_id: likeable.id), method: :post, remote: true do %>
        <% button_tag class: 'btn btn-block' do %>
          <%= fa_icon 'heart' %>
          <span><%= likeable.cached_scoped_like_votes_up %></span>
        <% end %>
      <% end %>
    <% else %>
      <%= form_tag like_path(likeable_type: likeable.class.to_s, likeable_id: likeable.id), remote: true do %>
        <% button_tag class: 'btn btn-block' do %>
          <%= fa_icon 'heart-o' %>
          <span><%= likeable.cached_scoped_like_votes_up %></span>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= form_tag like_path(likeable_type: likeable.class.to_s, likeable_id: likeable.id), remote: true do %>
        <% button_tag class: 'btn btn-block' do %>
          <%= fa_icon 'heart-o' %>
          <span><%= likeable.cached_scoped_like_votes_up %></span>
        <% end %>
      <% end %>
  <% end %>
</div>