<div id="user-<%= user.id %>" class="user-info">
  <div class="info">
      <%= render 'shared/avatar', resource: user %>
      <h4><%= link_to user.name, user %></h4>
  </div>
  <div class="content">
    <p><%= truncate(user.about, length: 200) %></p>
  </div>
</div>
