<div class="row">
<div class="col-md-10 col-md-offset-1">
  <div class="post-box deactivate">
    <h3>Deactivate</h3>
    <hr>
    <h5>Unhappy with Bloggy? Hit the Button below to cancel account.</h5>
    <br>
    <%= button_to 'Cancel my account', registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn" %>
</div>
</div>
</div>