<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="post-box blog-edit">
      <h4>Edit Profile</h4>
      <hr>
      <%= form_for @user do |f| %>
        <h3>
          <div class="field">
            <%= f.text_field :name, placeholder: "Name" %>
          </div>
        </h3>

        <div class="field">
          <%= f.text_area :about, placeholder: "About" %>
        </div>

        <div class="form-group">
          <%= render 'shared/avatar', resource: @user %>
          <%= f.file_field :avatar %>
        </div>

        <div class="actions">
          <%= submit_tag 'Update', class: "btn" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
