<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div id="user-<%= @user.id %>" class="blog-show post-box">

      <% if is_current_user?(@user) %>
        <div class="actions pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= fa_icon 'angle-down' %>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to 'Edit Profile', edit_user_path(@user) %></li>
              <li><%= link_to 'Change password', edit_user_registration_path %></li>
              <li><%= link_to 'Deactivate', deactivate_user_path(@user) %></li>
            </ul>
          </div>
        </div>
      <% end %>

      <%= render 'shared/avatar', resource: @user %>

      <h2><%= @user.name %></h3>
      <h4><%= @user.about %></h5>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
      <div id="posts">
        <%= render(@posts) %>
      </div>
      <%= render 'shared/paginate', resources: @posts %>
  </div>
</div>