<div class="row">
  <% if resource.class.name == 'Comment' %>
    <div class="col-md-2 like pull-right">
      <%= render 'likes/form', likeable: resource %>
    </div>
  <% else %>
    <div class="col-md-2 like pull-left">
      <%= render 'likes/form', likeable: resource %>
    </div>
  <% end %>
  <% if resource.class.name == 'Post' %>
    <div class="col-md-3 col-md-offset-5  comments-count">
        <span class="pull-right"><%= pluralize(resource.comments_count, 'comment') %></span>
    </div>
    <div class="col-md-2 bookmark pull-right">
        <%= render 'bookmarks/form', bookmarkable: resource %>
    </div>
  <% end %>
</div>