<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Bloggy!', root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path, class: 'active' %></li>
        <li><%= link_to 'Top stories', top_path %></li>
        <li><%= link_to 'Bookmarks', bookmarks_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= form_tag search_path, :method => 'get', class: "navbar-form navbar-left", role: "search" do %>
            <div class="form-group search-form">
              <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search'  %>
            </div>
          <% end %>
        </li>
      <% if user_signed_in? %>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Write a story</a>
          <ul class="dropdown-menu">
          <% current_user.blogs.each do |blog| %>
            <li><%= link_to blog.name, new_blog_post_path(blog) %></li>
          <% end %>
            <li>
              <%= link_to '+ Create a new blog', new_blog_path %>
            </li>
          </ul>
        </li>
        <li class="dropdown">

          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Blogs', me_blogs_path %></li>
            <li><%= link_to 'Drafts and stories', me_drafts_stories_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Profile', current_user %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to 'Write a story', user_session_path %></li>
        <li><%= link_to 'Sign in / Sign up', user_session_path %></li>
      <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>