<div class="row">
  <% if @activities.empty? %>
    <div class="col-md-10 col-md-offset-1">
      <h2>No stories yet :(</h2>
      <p>Let's <%= link_to 'Sign up / Sign in', user_session_path %> and create stories together!</p>
    </div>
  <% else %>
    <div id="activities" class="col-md-8 col-md-offset-2">
      <%= render_activities(@activities) %>
      <%= render 'shared/paginate', resources: @activities %>
    <div>
  <% end %>
</div>