<div class="row">
  <% unless @activities.empty? %>
    <div id="activities" class="col-md-8 col-md-offset-2">
      <%= render_activities(@activities) %>
      <%= render 'shared/paginate', resources: @activities %>
    <div>
  <% else %>
    <div class="col-md-10 col-md-offset-1">
      <h2>You haven't any followed blogs yet :(</h2>
      <p>Check out <u><%= link_to 'Top stories', top_path %></u> and start following our Blogs!</p>
    </div>
  <% end %>
</div>
