<div class="row">
  <% unless @activities.empty? %>
    <div id="activities" class="col-md-8 col-md-offset-2">
      <%= render(@activities) %>
    <div>
  <% else %>
    <div class="col-md-10 col-md-offset-1">
      <h2>There are no stories yet :(</h2>
    </div>
  <% end %>
</div>