<div id="<%= followable.class.to_s.downcase %>-<%= followable.id %>-follow" class="follow-form">
  <% if user_signed_in? %>
      <% if current_user.following? followable %>
        <%= form_tag unfollow_path(followable_type: followable.class.to_s, followable_id: followable.id), method: :post, remote: true do %>
          <% button_tag class: "btn" do %>
            unfollow
          <% end %>
        <% end %>
      <% else %>
        <%= form_tag follow_path(followable_type: followable.class.to_s, followable_id: followable.id), remote: true do %>
          <% button_tag class: "btn" do %>
            follow
          <% end %>
        <% end %>
      <% end %>
  <% end %>
</div>