<div class="post-form">
  <%= form_for([@blog, @post], html: {id: 'new-post-form' }) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_area :title, placeholder: "Title", class: 'title-area', autofocus: true %>
    </div>
    <div class="field marked-up">
      <%= f.hidden_field :content %>
      <div class="editable" data-field-id="content">
        <%= @post.content.html_safe unless @post.content.blank? -%>
      </div>
      <br>
    </div>
    <%= f.check_box :is_draft, hidden: true %>
  <% end %>
  <%= javascript_include_tag 'input-editor' %>
</div>