<div id="post-<%= post.id %>" class="post-box activity-post">
  <div class="info">
    <%= render 'shared/avatar', resource: post.user %>
      <h4>
        <%= link_to post.user.name, post.user %> in <%= link_to post.blog.name, post.blog %>
      </h4>
      <p><%= render 'shared/created_at', activity: post %></p>
  </div>
  <hr>
  <div class="content">
    <%= link_to post do %>
      <h3><%= post.title %></h3>
      <p><%= truncate(strip_tags(post.content), length: 600) %></p>
    <% end %>
    <%= link_to 'Read more...', post, class: 'read-more' %>
  </div>
  <hr>
  <div class="actions">
    <%= render 'shared/actions', resource: post %>
  </div>
</div>