<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div id="post-<%= @post.id %>" class="post-box show-post">
      <div class="info">
        <%= render 'shared/avatar', resource: @post.user %>
        <% if belongs_to_user? @post %>
          <span class="pull-right">
              <%= link_to 'Edit', edit_post_path(@post) %> |
              <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </span>
        <% end %>
        <h4>
          <%= link_to @post.user.name, @post.user %> in <%= link_to @post.blog.name, @post.blog %>
          <% if @post.is_draft %>
              <span>(Draft)</span>
          <% end %>
        </h4>
        <p><%= render 'shared/created_at', activity: @post %></p>
      </div>

      <div class="content marked-up">
        <h3><%= @post.title %></h3>
        <p><%= raw @post.content %></p>
      </div>

      <div class="actions">
        <%= render 'shared/actions', resource: @post %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="responses">
      <h3>Responses</h3>
      <%= render 'comments/form', commentable: @post %>
      <div class="comments" id="post-comments">
        <%= render(@comments) %>
        <%= render 'shared/paginate', resources: @comments %>
      </div>
    </div>
  </div>
</div>
