<!-- <h3><%= link_to draft.title, draft %></h3>
<p>Last edited <%= time_ago_in_words(draft.updated_at) %> ago</p>
<ul>
  <li><%= link_to 'Edit', edit_post_path(draft) %></li>
  <li><%= link_to 'Delete', draft, method: :delete, data: { confirm: 'Are you sure?' } %></li>
</ul> -->

  <div class="content">
    <div class="pull-right">
      <span>
        <%= link_to 'Edit', edit_post_path(draft) %> |
        <%= link_to 'Delete', draft, method: :delete, data: { confirm: 'Are you sure?' } %>
      </span>
    </div>
    <h4><%= link_to draft.title, draft %></h4>
    <p>Last edited <%= time_ago_in_words(draft.updated_at) %> ago</p>
  </div>