<div class="content">
  <div class="pull-right">
    <span>
      <%= link_to 'Edit', edit_post_path(public) %> |
      <%= link_to 'Delete', public, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  </div>
  <h4><%= link_to public.title, public %></h4>
  <p>Published on <%= public.updated_at.strftime("%b %d") %></p>
</div>