<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="post-box me-stories">
      <h1>Your stories</h1>
      <hr>
      <p><%= link_to 'Drafts', me_drafts_stories_path %> | <%= link_to 'Public', me_public_stories_path %></p>
      <br>

      <% unless @stories.empty? %>
        <div id='stories'>
          <%= render(partial: 'me/stories/public', collection: @stories) %>
        </div>
      <% else %>
        <div>
          <p>You haven’t published any public stories yet.</p>
        </div>
      <% end %>

      <%= render 'shared/paginate', resources: @stories %>
      </div>
    </div>
  </div>