@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,300italic&subset=latin,cyrillic);

body {
  padding-top: 70px;
  background-color: #f3f3f3;
  line-height: 1.42857143;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem; //14 px?
  color: #48655F;
}

::selection {
  background: #8FFCE5;
}

textarea {
    resize: none;
}

a {
  color: #333; // regular
  &:hover {
    text-decoration: none;
    color: #3FD4B4;
  }
}

.btn {
  font-weight: 300;
  background-color: #f5f6f7;
  &:hover {
    background-color: #fbfbfc;
  }
}

///////
// NAV
/////////

.navbar {
  background-color: rgba(255, 255, 255, 0.95);
  padding-right: 0;
  padding-left: 0;
  box-shadow: 0 1px 5px #dcdddd;
  font-weight: 300;
}

.nav > li > a:hover {
  color: #000;
}

.search-form {
  input {
    border-radius: 15px;
    font-size: 1.25rem;
  }
}

.navbar-default .navbar-brand {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #333;
  &:hover {
    color: #7DECD2;
  }
}

.img-circle {
  &:hover {
    background-color: transparent;
  };
}

// .cover {
//   width: 100%;
//   height: 400px;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-position: center;
// }

///////////////
// ERRORS
///////////////

#error_explanation {
  color: #ea5f5f;
  ul {
    color: #ea5f5f;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

////////////////
// POSTS BASE
////////////////

.post-box {
  background-color: white;
  border-radius: 6px;
  box-shadow: 1px 5px 10px #e4e4e4;
}

.info {
  .img-circle {
    float: left;
    margin-right: 10px;
    height: 40px;
    width: 40px;
  }
  p {
    font-size: 1rem;
    line-height: 0;
    font-weight: 300;
    font-style: italic;
  }
  h4 {
    font-weight: 300;
  }
  span {
    font-weight: 300;
  }
}

.content {
  h3 {
    font-weight: 400;
    font-size: 3rem;
    margin: 20px 0;
  }
  p {
    font-weight: 300;
  }
}

.actions{
  span {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  .comments-count span {
    padding-top: 10px;
  }
}

///////////////////
// CERTAIN POSTS
///////////////////

.activity-post {
  margin-bottom: 45px;
  padding: 20px 25px;
  .read-more {
    font-size: 1.25rem;
    font-weight: 400;
  }
  .content a:hover {
    color: #555; // regular
  }
}

.show-post {
  padding: 20px 45px;
  .content {
    p {
      font-weight: 400;
      margin-bottom: 20px;
    }
  }
  .actions {
    margin-bottom: 5px;
  }
  .responses {
    background-color: #555;
  }
  h4 {
    font-weight: 600;
  }
}

.post-form {
  height: 100%;
  width: 100%;
  overflow: hidden;
  .editable {
    margin-left: 15px;
    &:focus {
      outline: none;
    }
  }
  .medium-editor-placeholder::after {
    margin: 0;
  }
  &:focus {
    outline: none;
  }
  textarea {
    width: 100%;
    height: 4rem;
    border: none;
    overflow: auto;
    font-size: 3rem;
    margin: 0 0 20px 15px;
    &:focus {
      outline: none;
    }
  }
}

.marked-up {
  a {
    text-decoration: underline;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  blockquote {
  }
}

.responses {
  h3 {
    margin-top: 40px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .comment {
    padding: 20px 25px;
    margin-bottom: 20px;
  }
  .content {
    p {
      margin-top: 20px;
    }
  }
}

.comment-form {
  margin-bottom: 20px;
  font-weight: 300;
  padding: 20px;
  .form-control {
    padding: 0;
    border: none;
    box-shadow: none;
    transition: none;
    &:focus {
      border-color: none;
      box-shadow: none;
    }
  }
}

.search-results {
  h3 {
    font-weight: 300;
  }
  .btn-group-vertical .btn {
    border: none;
  }
  .active {
    // background-color: #8FFCE5;
    // background-color: #7DECD2;
    box-shadow: none;
  }
}

.blog-info {
  margin-bottom: 25px;
  padding: 10px 20px;
  .content {
    p {
      margin-top: 30px;
    }
  }
}

.user-info {
  margin-bottom: 25px;
  padding: 10px 20px;
  .content {
    p {
      margin-top: 30px;
    }
  }
}

.blog-show {
  padding: 20px;
  margin-bottom: 45px;
  .img-circle {
    float: none;
    width: 150px;
    height: 150px;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  h2 {
    text-align: center;
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 20px;
  }
  h4 {
    text-align: center;
    // font-size: 2rem;
    font-weight: 300;
  }
  .follow-form .btn {
    margin-top: 20px;
    margin-bottom: 5px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-size: 2rem;
    border-radius: 20px;
    &:hover {
      background-color: #3FD4B4;
    }
  }
}

.blog-edit {
  padding: 20px;
  h4 {
    font-weight: 400;
    text-align: center;
  }
  h3 {
    font-size: 3rem;
    font-weight: 300;
  }
  input {
    border: none;
    height: 40px;
    width: 100%;
  }
  textarea {
    border: none;
    width: 100%;
  }
  .img-circle {
    float: none;
    width: 100px;
    height: 100px;
  }
}

.deactivate {
  padding: 20px;
}

.me-blogs {
  padding: 20px;
}

.me-stories {
  padding: 20px;
  .content {
    margin-bottom: 30px;
  }
  p, span {
    font-weight: 300;
  }
}

///


.rounded {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 1px 5px 10px #e4e4e4;
}

.light {
  font-weight: 300;
}

label {
  font-weight: 400;
}

.auth-form {
  padding: 15px 20px;
  input {
    margin-bottom: 10px;
    border-radius: 5px;
  }
  em {
    font-size: 1rem;
  }
  h2 {
    margin-top: 0;
  }
}