$navbar-bg-color: rgba(255, 255, 255, 0.95);
$navbar-color: #777;
$hover-color: #f0f0f0;
$border-color: #e0e0e0;
$liked-color: #2a6496;
$bg-color: #fff;
$light-text-color: #808080;
$color: #333;
$default-font-size: 1.5rem;
$small-font-size: 1.25rem;