<!DOCTYPE html>
<html>
<head>
  <title>Bloggy!</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= render 'shared/navbar' %>
  <div class="container">
    <%# flash_messages %>
    <%= yield %>
  </div>
</body>
</html>
